body {
  font-family: 'Arial', sans-serif; 
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#filterContainer {
  margin: 20px;
}

#jobLevelSliderContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#jobLevelSlider {
  width: 300px;
  margin: 0 20px;
}

#visualization {
  margin-top: 20px;
}

#countryButtons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
}

#salaryLineContainer {
  margin-top: 40px;
}

#bubbleMap {
  margin: 20px auto;
  width: 800px;
  height: 500px;
  border: 1px solid #ddd;
}

