body {
  font-family: 'Arial', sans-serif; 
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;
}

#wordCloud {
  margin: 20px auto;
  width: 800px;
  height: 500px;
  border: 1px solid #ddd; /* 边框用于调试 */
  position: relative;
  overflow: visible;
}
